
*.xcuserstate

*.xcscheme

Splittr/Splittr.xcodeproj/xcuserdata/cablej.xcuserdatad/xcschemes/xcschememanagement.plist

Splittr/Splittr.xcodeproj/xcuserdata/cablej.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
